body{
    background-color: rgb(2, 5, 20);
    padding: 0;
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: "Consolas";
    overflow-x: hidden;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x:  hidden;
    width: 100vw;
    height: max-content;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    overflow:  hidden;
    height: max-content;
}
.hoursList{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.hourList_Hour{
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(144, 185, 238);
}
.hoursList_Headline{
    color:rgb(100,0,255 );
}

.Day{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.DayHeadline2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    border: 1px solid white;
    width: 150px;
    color:rgb(100,0,255 );
}
.DayHeadline{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    border: 1px solid white;
    width: 150px;
}
.DayList{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.HourItem_Secondary{
    color: rgb(147, 147, 147);
}

.HourItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: 1px solid black;
}

.ActiveHour{
    color: black;
    box-shadow: 0px 0px 20px white;
    background: rgb(144, 185, 238);
}
.TopInfo{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.Day_Room{
    font-size: 12px;
}

.TimeText{
    font-size: 110%;
    font-weight: 1000;
    color: rgb(100,0,255 )
}

.Hour_Entfall {
    background-color: rgba(255, 0, 0, 0.4);
}
.Hour_Vertretung, .HourItemVertretung{
    background-color: rgba(255, 120, 0, 0.4);
}
.Hour_RaumVertretung, .HourItemVertretung{
    background-color: rgba(0, 110, 255, 0.3);
}
.Hour_Entfall_Text{
    color: rgba(255, 0, 0, 1);
}
.Hour_Vertretung_Text{
    color: rgba(255, 120, 0, 1);
}
.Hour_RaumVertretung_Text{
    color: rgba(0, 110, 255, 1);
}
.Hour_RaumVertretung_Text{
    color: rgb(21, 255, 0);
}

.TaskList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    margin-top: 200px;
}

.TaskListItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;

    cursor: pointer;
    margin: 3px;
}
.TaskListItem:hover{
    box-shadow: 0px 0px 10px white;
}

.TaskListSubItem{
    margin: 10px;
}
.TaskListSubjectColor{
    color: rgb(255, 0, 255);
}
.TaskListDateColor{
    color: rgb(0, 229, 255);
}
.TaskListTitleColor{
    color: rgb(0, 255, 34);
}
.TaskListDescriptionColor{
    color: rgb(255, 255, 255);
}

.TaskListRedColor{
    color: rgb(255, 102, 0);
}

.ExpandableContent{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    display: none;
    height: 10px;
}
.ExpandableHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    visibility: visible;
}

.DismissDiv{
    width: 100vw;
    height: 100vh;
    visibility: collapse;
}

.TaskListHeadLine{
    font-size: 42px;   
    margin-bottom: 100px;
}

.UpdateSiteInfo{
    font-size: 22px;
margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.HyperLink{
    color: rgb(255, 123, 0);
    font-weight: bolder;
}

.HomeWorkListItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.HomeWorkListItem_Item{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.HomeWorkList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 200px;
    height: max-content;
    margin-bottom: 200px;
}
.NavBarContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    position: fixed;
}

.TopNavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(11,17,30);
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
}
.TopNavBar_Item
{
    user-select: none;
    margin: 5px;
    width: 30px;
    height: 30px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    filter: invert();
    cursor: pointer;
    transition-duration: 400ms;
}

.TopNavBar_Item:hover{
    transform: rotateZ(180deg);
    width: 40px;
    height: 40px;
}

@keyframes rotateItem {
    0%{

    }
    75%{
    }
}

@media only screen and (max-width: 1200px){
    body{
        font-size: 18px;
    }
    .hourList_Hour{
        width: 130px;
    }
    .DayHeadline, .DayHeadline2{
        width: 120px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .TopInfo{
        font-size: 20px;
    }
    .TaskListItem{
        font-size: 22px;
    }
}

@media only screen and (max-width: 950px){
    body{
        font-size: 16px;
    }
    .hourList_Hour{
        width: 120px;
    }
    .DayHeadline, .DayHeadline2{
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TopInfo{
        font-size: 18px;
    }

}

@media only screen and (max-width: 800px){
    body{
        font-size: 14px;
    }
    .hourList_Hour{
        width: 60px;

    }
    .DayHeadline, .DayHeadline2{
        width: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TopInfo{
        font-size: 16px;
    }
    .TaskListItem{
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px){
    body{
        font-size: 12px;
    }
    .hourList_Hour{
        width: 50px;

    }
    .DayHeadline, .DayHeadline2{
        width: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TopInfo{
        font-size: 16px;
    }
    .TaskListItem{
        font-size: 14px;
    }
}

@media only screen and (max-width: 620px){
    body{
        font-size: 12px;
    }
    .hourList_Hour{
        width: 40px;

    }
    .DayHeadline, .DayHeadline2{
        width: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TopInfo{
        font-size: 16px;
    }
    .TaskListItem{
        font-size: 14px;
    }
    .HomeWorkListItem_Item{
        margin: 5px;
    }
}


@media only screen and (max-width: 420px){
    body{
        font-size: 10px;
        overflow-x: scroll;
        width: auto;
    }
    .hourList_Hour{
        width: 20px;

    }
    .Day_Room{
        font-size: 10px;
    }
    .DayHeadline, .DayHeadline2{
        width: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TopInfo{
        font-size: 12px;
    }
    .HomeWorkListItem_Item{
        margin: 2px;
    }
    .TaskListItem{
        font-size: 12px;
    }
}

@media only screen and (max-height: 600px){
    body{
        overflow-y: auto;
        height: auto;
    }
}
